{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="time; URL=new_url" />
  <title>About Us</title>
  <link rel="stylesheet" href="{% static "css/aboutus.css" %}">
 
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>


<body>
  
  <body class="bg-primary">
   
  </body>
  
  <div class="heading">
    <h1 style="font-size:  50px;">
      <br>Our Creative Team</br>
    </h1>
  </div>
  <section>
    <div class="container">
      <div class="card">
        <div class="content">
          <div class="imgBx"><img src="{% static "images/Darshil.jpg" %}"></div>
          <div class="contentBx">
            <h3>Darshil Modi<br><span>Creative Designer</span></h3>
          </div>
        </div>
        <ul class="sci">
          <!-- <li style="--i:1">
              <a href="https://www.facebook.com/ashutosh.lodhi.33"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li> -->
          <li style="--i:2">
            <a href="https://twitter.com/aashutosh_lodhi?s=08"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
          <li style="--i:3">
            <a href="http://instagram.com/darshil_modi_?utm_source=qr"><i class="fa fa-instagram"
                aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
      <div class="card">
        <div class="content">
          <div class="imgBx"><img src="{% static "images/vishrut.jpg" %}"></div>
          <div class="contentBx">
            <h3>Dhameliya Vishrut<br><span>Creative Designer</span></h3>
          </div>
        </div>
        <ul class="sci">
          <!-- <li style="--i:1">
              <a href="https://www.facebook.com/ganesh.modi.3745"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li> -->
          <li style="--i:2">
            <a href="https://www.linkedin.com/in/vishrut-dhameliya-950687229"><i class="fa fa-linkedin"
                aria-hidden="true"></i></a>
          </li>
          <li style="--i:3">
            <a href="https://www.instagram.com/thevishrutdhameliya13/"><i class="fa fa-instagram"
                aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
      <div class="card">
        <div class="content">
          <div class="imgBx"><img src="{% static "images/Hasmukh.jpg" %}"></div>
          <div class="contentBx">
            <h3>Hasmukh Sapariya<br><span>Creative Designer</span></h3>
          </div>
        </div>
        <ul class="sci">
          <li style="--i:1">
            <a href="https://www.linkedin.com/in/hasmukh-sapariya-724a4620b"><i class="fa fa-linkedin"
                aria-hidden="true"></i></a>
          </li>
          <!-- <li style="--i:2">
                <a href="https://mail.google.com/mail/u/0/?pli=1#inbox?compose=DmwnWtMjKSFmXLMpKJkPMtZSKpzZHZTFWMtbRrLXVcJdgsHCggwDcMKmQgQkgpMtQtJdHTsKDVHG"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
              </li> -->
          <li style="--i:3">
            <a href="https://www.instagram.com/_hs_5414/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
      <div class="card">
        <div class="content">
          <div class="imgBx"><img src="{% static "images/ns.jpg" %}"></div>
          <div class="contentBx">
            <h3>Niraj sheladiya<br><span>Creative Designer</span></h3>
          </div>
        </div>
        <ul class="sci">
          <li style="--i:1">
            <a href="https://www.linkedin.com/in/sheladiya-niraj/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
          <li style="--i:2">
            <a href="https://www.instagram.com/nirajsheladiya/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </li>

        </ul>
      </div>
      <div class="card">
        <div class="content">
          <div class="imgBx"><img src="{% static "images/Yash.png" %}"></div>
          <div class="contentBx">
            <h3>Yash Nayak<br><span>Creative Designer</span></h3>
          </div>
        </div>
        <ul class="sci">
          <li style="--i:1">
            <a href="https://www.facebook.com/profile.php?id=100009552574728"><i class="fa fa-linkedin"
                aria-hidden="true"></i></a>
          </li>
          <li style="--i:2">
            <a href="https://instagram.com/_hunk_sunny_?igshid=3zkga5hv1qzv"><i class="fa fa-instagram"
                aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </section>

</body>
</body>

</html>
</div>
</body>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
<script src="./script.js"></script>

</html>
</body>
</html>